@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Homework 1 By Denis Hutsul</h1>
    <h2 class="display-4">With support wrom Odessa ДТЭК(Vernite svet pozalusta)</h2>
    <p><img src="img/HW_1.png" /></p>
    <footer>
        <script type="text/javascript">
            document.write(Date());
        </script>
    </footer>
</div>
